.title-container{
    .test;
    display: flex;
    justify-content: center;
    
    img{
        .test;
        position: relative;
        width: 100%;
    }
    .img-content{
        margin: 20% 0;
        position:absolute;
        text-align: center;
        width: 40%;
        h1{
            font-weight: bold;
            font-size: 48px;
            color: @color1;
        }
        button{
            width: 120px;
            height: 35px;
            background-color: @color1;
            border-radius: 5px;
            border: 1px solid white;
        }
    }

}